template(name='nav')
    .ui.stackable.padded.grid.menu
        if currentUser
            .centered.nav_bar.row
                .one.wide.column.pointer.toggle_leftbar.item
                    .ui.header
                        i.menu.icon
                        if current_type.icon
                            i.urrent_type.icon
                        | #{current_type.title}
                .one.wide.column.toggle_topbar.pointer
                    i.contacts.icon
                .one.wide.column.toggle_topbar.pointer
                    i.shopping.icon
                .eight.wide.column.pointer.toggle_topbar.item
                    img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                .one.wide.column.toggle_topbar.pointer
                    i.bookmark.icon
                .one.wide.column.toggle_topbar.pointer
                    i.tasks.icon
                .one.wide.column.toggle_topbar.pointer
                    i.mailbox.icon
                .one.wide.column.toggle_topbar.pointer
                    i.appointment.icon
                .one.wide.column.toggle_rightbar.pointer.item
                    if currentUser.image_id
                        img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.gender.icon






template(name='topbar')
    .ui.top.sidebar.segment.push.nav_bar.row.topbar
        .ui.grid
            .four.wide.column
            .four.wide.column
            .four.wide.column
            .four.wide.column
        a.icon.item(href='/alerts' title='Alerts')



template(name='leftbar')
    .ui.left.vertical.sidebar.nav_bar.menu.leftbar
        a.item(href='/campaigns')
            i.bullhorn.grey.icon
            | Campaigns
        a.item(href='/people')
            i.users.grey.icon
            | People
        a.item(href='/gallery')
            i.users.picture.icon
            | Gallery
        a.item(href='/user_reports' title='Reports')
            i.newspaper.grey.icon
            | Reports



template(name='rightbar')
    .ui.right.vertical.sidebar.nav_bar.menu.rightbar
        .item
            .ui.header
                | #{currentUser.first_name} #{currentUser.last_name}
                small @#{currentUser.username}
        .item.profile
            i.leaderboard.icon
            | Leaderboard
        .item.profile
            i.contacts.icon
            | Profile
        .item.settings
            i.settings.icon
            | Settings
        .item.sla
            i.workflow.icon
            | SLA Settings
        .item
            #logout.sixteen.wide.column
                // i.exit.icon
                if signing_out
                        i.notched.circle.loading.big.icon
                    else
                        i.exit.icon
                    | Log Out