template(name='header')
    .ui.attached.borderless.menu
        a.icon.item.toggle_leftbar(href='#')
            i.bars.icon
        .image.item
            a(href='/')
                img.ui.tiny.image(src='/brand/Logorev01.png')
        if currentUser
            .right.menu
                a.icon.item.toggle_topbar(href='#')
                    i.grey.bell.icon
                a.icon.item(href='/mail' title='Mail')
                    i.grey.envelope.icon
                a.icon.item(href='/chats' title='Chat')
                    i.grey.chat.icon
                a.icon.item(href='/tasks' title='Tasks')
                    i.grey.tasks.icon
                a.item(href='/dashboard')
                    i.grey.dashboard.icon
                    .mobile.hidden Dashboard
                a.icon.item.toggle_rightbar(href='#')
                    i.bars.icon
                a.item(href='/account')
                    i.grey.user.icon
                    .mobile.hidden
                        if currentUser.username
                            |#{currentUser.username}
                        else
                            |Account
                if logging_out
                    .icon.disabled.item
                        i.loading.refresh.icon
                else
                    a.icon.item.logout(href='#' title='Logout')
                        i.sign.out.grey.icon
        else
            .right.menu
                a.item.pagescroll(href='#causes') Campaigns
                a.item.pagescroll(href='#gallery') Gallery
                a.item.pagescroll(href='#contact') Contact Us
                a.item(href='/login') Login
                a.item(href='/register') Register
