template(name='header')
    .ui.attached.borderless.menu
        .image.item
            a(href='/')
                img.ui.tiny.image(src='/brand/Logorev01.png')
        a.item(href='/campaigns')
            i.bullhorn.grey.icon
            .mobile.hidden Campaigns
        if currentUser
            a.item(href='/user_reports' title='Reports')
                i.newspaper.grey.icon
                .mobile.hidden Reports
            .right.menu
                a.icon.item(href='/inbox')
                    i.grey.inbox.icon
                a.icon.item(href='/chats' title='Chat')
                    i.grey.chat.icon
                a.icon.item(href='/tasks' title='Tasks')
                    i.grey.tasks.icon
                a.item(href='/dashboard')
                    i.grey.dashboard.icon
                    .mobile.hidden Dashboard
                a.item(href='/account')
                    i.grey.user.icon
                    .mobile.hidden
                        if currentUser.username
                            |#{currentUser.username}
                        else
                            |Account
                if logging_out
                    .icon.disabled.item
                        i.loading.refresh.icon
                else
                    a.icon.item.logout(href='#' title='Logout')
                        i.sign.out.grey.icon
        else
            .right.menu
                a.item.pagescroll(href='#causes') Campaigns
                a.item.pagescroll(href='#gallery') Gallery
                a.item.pagescroll(href='#contact') Contact Us
                a.item(href='/login') Login
                a.item(href='/register') Register
