template(name='social_login_buttons')
  button#facebook-login.ui.blue.circular.button
    i.facebook.square.icon
    |  Facebook Login
  button#google-login.ui.red.circular.button
    i.google.icon
    |  Google Login
