template(name='footer1')
    #contact.footer-section.section-padding
        .container
            .row.footer-row
                .col-xs-6.col-sm-6.col-md-4.footer1-col
                    h5 HEADQUARTERS
                    ul.content-ul.footer1-address.footer1-address-space
                        li
                            img(src='/images/32x32x6.png' alt='32x32x6')
                        li
                            p 555 Republic Drive, #200 Plano, Texas, 75074
                    ul.content-ul.footer1-address.footer1-address-space
                        li
                            img(src='/images/32x32x7.png' alt='32x32x7')
                        li
                            p
                                a(href='mailto:Info@joyful-giver.com') Info@joyful-giver.com
                    ul.content-ul.footer1-address
                        li
                            img(src='/images/32x32x8.png' alt='32x32x8')
                        li
                            p  +1 888-252-0635
                .col-xs-6.col-sm-6.col-md-4.footer1-col
                    h5 QUICK LINKS
                    ul.content-ul.links
                        li
                            a(page-scroll='' href='/#' data-toggle='modal' data-target='#requestDemo') Request a Demo
                        li
                            a(page-scroll='' href='/#' data-toggle='modal' data-target='#pressRelease') Press Release
                        li
                            a(page-scroll='' href='/#' data-toggle='modal' data-target='#feedbackForm') Feedback
                        //
                            <li><a href="#">Program</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Contact Us</a></li>
                //
                .col-xs-6.col-sm-6.col-md-4.footer1-col.footer1-border-all.footer-common-space
                    h5 GET IN TOUCH
                    ul.content-ul.footer1-icon
                        li
                            a(href='https://www.facebook.com/Joyful-Giver-1440910486237344' target='_blank')
                                img(src='/images/32x32x1.png' alt='32x32x1')
                        li
                            a(href='https://twitter.com/Joyful_Giver' target='_blank')
                                img(src='/images/32x32x2.png' alt='32x32x2')
                        li
                            a(href='#' target='_blank')
                                img(src='/images/32x32x3.png' alt='32x32x3')
                        li
                            a(href='https://www.instagram.com/joyfulgiver_app/' target='_blank')
                                img(src='/images/32x32x9.png' alt='32x32x9')
                        // <li><a href="#"><img src="/images/32x32x4.png" alt="32x32x4" /></a></li>
                        li
                            a(href='#' target='_blank')
                                img(src='/images/32x32x5.png' alt='32x32x5')
                    .text-right
                        img(src='/images/stripe.png' alt='100x80x1')
                        img(src='/images/ssl.jpg' alt='100x80x2')
                        a(href='https://www.bbb.org/dallas/business-reviews/financial-services/joyful-giver-in-plano-tx-90907663#bbbseal' target='_blank')
                            img(src='/images/BBBArating.png' alt='100x80x2')
        .copyright-bg
            .container
                .copyright.text-center
                    p 2019 &copy; joyful-giver.com
